<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="site-header" style="background-image: url({{ asset('img/background.jpg') }})">
            <span class="site-title">My Symfony Site</span>
        </header>

        <nav>
            <ul>
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('report') }}">Report</a></li>
                <li><a href="{{ path('lucky') }}">Lucky</a></li>
                <li><a href="{{ path('session') }}">Session</a></li>
                <li><a href="{{ path('card') }}">Card</a></li>
                <li><a href="{{ path('api_landing') }}">Api</a></li>
                <li><a href="{{ path('game_landing') }}">Game</a></li>
                <li><a href="{{ path('library_index') }}">Library</a></li>
                <li><a href="{{ path('metrics') }}">Metrics</a></li>





            </ul>
        </nav>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer class="site-footer">
            <p>© {{ "now"|date("Y") }} Simon Bosnjak – Webbprogrammering BTH</p>
        </footer>
    </body>
</html>
