<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome to Project{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/glider.svg') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    {% block stylesheets %}
        {% if app.environment != 'test' %}
            {{ encore_entry_link_tags('app') }}
        {% endif %}
    {% endblock %}

    {% block javascripts %}
        {% if app.environment != 'test' %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endif %}
    {% endblock %}
</head>
<body>
    <header class="project-header">
        <div class="project-title">Project Site</div>
    </header>

    <nav class="project-nav">
        <ul>
            <li><a href="{{ path('home') }}"><i class="fa fa-flag"></i> Report site</a></li>        
            <li><a href="{{ path('proj') }}"><i class="fa fa-house"></i> Home</a></li>             
            <li><a href="{{ path('projabout') }}"><i class="fa fa-info-circle"></i> About</a></li>
        </ul>
    </nav>

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer class="project-footer">
        <p>© {{ "now"|date("Y") }} Simon Bosnjak – Webbprogrammering BTH</p>
    </footer>
</body>
</html>
